.state-practice-main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.counter {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}
.counter > button {
    height: 50px;
    min-width: 50px;
    width: auto;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}
.reset{
    background-color: rgb(233, 113, 21);
    border-radius: 20px;
    color:rgb(16, 13, 13);
    border: none;
    width:70px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}
.counter > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    margin-block: 0 10px;
    font-size: 2rem;
}
.plus {
    margin-left: -20px;
}

.minus {
    margin-right: -20px;
    z-index: 1;
}
.state-practice-main > h1{
    text-align: center;
    margin-bottom: -20px;
}
.state-practice-main .value{
    margin-top:30px;
    border-radius:50%;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
}
